.aboutMe{
    display: flex;
    background: rgba(0, 0, 0, 0.7)url('coverPage.jpg');
    background-blend-mode: darken;
    background-size: 100%;
}
.aboutMe p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    
    margin-left: 140px;
    
    
    font-size: 1.1em;
    color: #999;
    line-height: 1.8em;
    margin-top: 80px;
}


.aboutMe img{
    display: inline-block;
    margin-left: 60px;
    margin-top: 20px;
}

.aboutMe li{
    align-items: center;
    list-style:none;
    text-decoration: none;
}



ul.nav.navbar{
    align-items: center;
    display: flex;
    font-size: larger;
    background-color: cornflowerblue;
    
}

.nav{
    list-style: none;
    align-items: center;
    display: flex;
}

.nav li{
    margin-left: 160px;
}

.nav li a{
    color:lawngreen;
}

#skills{
    background-color: black;
    background-size: 100%;
}

#skills h2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: forestgreen;
    font-style: oblique;
    font-size: 50px;
}

#skills p{
    font-size: 20px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    color:darkslategray
    
}

#skills ul{
    align-items: center;
    align-items: center;
    display: flex;
    padding: 20px;
}

#skills li{
    list-style: none;
    margin-left: 130px;
    
}

#education{
    width: 100%;
    padding-bottom: 40px;
    
}
#education h2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#education table{
    margin-left: 120px;
    width: 1000px;
}

#education td, .education th{
    border: 1px solid #ddd;
    padding: 8px;
    
}

#education th{
    padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color:indianred;
  color: white;
  
}

#address iframe{
    margin-left: 140px;
    margin-bottom: 40px;
    width: 1000px;
}

.footer{
    text-align: center;
    background: #1F1F1F;
}

.footer li{
    list-style: none;
    font-style: inherit;
    color: plum;
}

